.formContainer{
  display: none;
  &.show {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .userForm{
      z-index: 2;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 350px;
      height: 350px;
      background: #3a3a3a url(./../../../assets/img/fingerprints.png) no-repeat;
      padding: 30px;
      border: 2px solid #1b1a1a;
      border-radius: 6px;
     box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.55);

      .formTitle{
        font-family: Lobster,cursive;
        font-size: 30px;
        text-align: center;
        color: #FFF;
        text-decoration: underline;
      }

      .inputs{
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-around;

        .userInput{
          height: 30px;
          border: 2px solid #696868;
          border-radius: 5px;
          padding: 5px;
          background: #cccccc;
          font-family: Lobster,cursive;
          font-size: 18px;
        }
      }

      .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        .validUser{
          height: 35px;
          width: 100px;
          margin-right: 25px;
          margin-left: 25px;
          background: #70dc2d;
          border: 2px solid #45b13e;
          border-radius: 7px;
          color: #333;
          font-family: Lobster, cursive;
          font-size: 19px;
          &:hover{
            background: #509c21;
            border: 2px solid #33752f;
            color: #FFF;
            cursor: pointer;
          }
        }
        .closeUser{
          height: 35px;
          width: 100px;
          margin-right: 25px;
          background: #dc452d;
          border: 2px solid #ab3131;
          border-radius: 7px;
          color: #333;
          font-family: Lobster, cursive;
          font-size: 19px;
          &:hover{
            background: #b73b27;
            border: 2px solid #752b2b;
            color: #FFF;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media print {
  .formContainer{
    display: none;
  }
}
