.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  .stepsTitle {
    font-weight: bolder;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    font-family: 'Amatic SC';
    &:before, &:after {
      content: " - ";
      width: 100px;
      height: 10px;
    }
  }
  .stepList {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    width: calc(100% - 26px);
    background-color: #191919;
    border-radius: 6px;
    margin: 0 13px;
    border: 1px solid #2d2d2d;
    position: relative;
  }

  &.edition .stepList{
    width: calc(100% - 60px);
    margin-left: 5px;
  }
}

.stepAdd {
  background: #eaeaea;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #303030;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  padding: 1px 10px;
  display: none;
  cursor: default;
  font-weight: bold;
  transition: width 1s ease-in-out;
  overflow: hidden;
  input{
    display: none;
  }
  &.edition{
    display: flex;
    width: 20px;
    justify-content: center;
    border: 8px solid #191919;
    border-radius: 0 0 5px 5px;
    margin-top: -11px;

    &:hover{
      color: #FFFFFF;
      cursor: pointer;
      background: #009EE0;
    }
    &.show{
      width: calc(100% - 45px);
        input{
          display: block;
          background: rgba(255, 255, 255, 0.4);
          border: 1px solid rgba(0,0,0,0.3);
          border-radius: 5px;
          padding: 0 5px;
          color: #202020;
          font-style: italic;
          margin: 0 5px;
          &.stepInput{
            flex: 1;
          }
        }
    }
  }
}

@media screen and (min-width: 1300px) {
  .steps {
    width: calc(100% - 390px);
  }
}

@media print {
  .steps {
    .stepsTitle {
      color: #191919;;
    }
  }
}

.stepTabs{
  position: absolute;
  display: flex;
  flex-direction: row;
  top: -30px;

  .stepsVideo {
    position: relative;
    border-radius: 5px 5px 0 0;

    .stepsVideoIcon {
      color: whitesmoke;
      background: #191919;
      padding: 3px;
      margin-right: 3px;
      border-radius: 5px 5px 0 0;
      border-top: 1px solid #2d2d2d;
      border-left: 1px solid #2d2d2d;
      border-right: 1px solid #2d2d2d;
      &:hover{
        cursor: pointer;
        color: #009EE0;
      }
    }

    &.disable {
      .stepsVideoIcon {
        color: #424242;
        &:hover {
          cursor: default;
          color: #424242;
        }
      }
    }
  }

  .player{
    display: none;
    &.open {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 90%;
      z-index: 3;
      padding-top: 60px;
      padding-left: 5%;
      padding-right: 5%;
      background: #303030 url(../../assets/img/background.png) repeat;

      .video-react .video-react-big-play-button {
        top: calc(50% - 22px);
        left: calc(50% - 45px);
      }

      i.material-icons.closer {
        position: fixed;
        top: 20px;
        right: 20px;
        color: #FFF;
        &:hover{
          color: #009EE0;
          cursor: pointer;
        }
      }
    }
  }
}
