.ingredients {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;

  .ingredientsTitle {
    font-weight: bolder;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    font-family: 'Amatic SC';
    &:before, &:after {
      content: " - ";
      width: 100px;
      height: 10px;
    }
  }

  .ingredientList {
    margin: 0;
    max-width: 660px;
    padding: 10px;
    background-color: #191919;
    border: 1px solid #2d2d2d;
    border-radius: 6px;
    position: relative;
    overflow: hidden;

    li {
      float: left;
      width: 300px;
      color: whitesmoke;
      padding-right: 30px;
      list-style-type: none;
      font-family: 'Indie Flower';
      white-space: nowrap;
      display: flex;
      align-items: center;

      &.edition{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        .deleteIngredient{
          color: #d43322;
          padding: 0 5px;
          &:hover{
            color: #009EE0;
            cursor: pointer;
          }
        }
      }
      mark {
        border-radius: 3px;
        background-color: #ffa200;
        font-weight: bold;
        padding: 0 2px;
      }

      input {
        background: #424242;
        border: 1px solid #545454;
        color: #d2d0d0;
        padding: 0 3px;
        height: 20px;
        border-radius: 5px;
        font-style: italic;

        &.ingredientInput.group, &.ingredientInput.unit {
          width: 20%;
        }

        &.ingredientInput.name {
          width: 30%;
        }

        &.ingredientInput.qte {
          width: 25px;
          margin-left: 5px;
          margin-right: 5px;
        }

        &.ingredientInput.name {
          flex: 1;
          margin: 0 5px;
        }
      }

      .group0, .group1, .group2, .group3, .group4, .group5, .group6{
        font-size: 22px;
        padding-bottom: 3px;
        padding-right: 5px;
      }
      .group0{
        color: #ed5564;
      }
      .group1{
        color: #47cec0;
      }
      .group2{
        color: #d870ad;
      }
      .group3{
        color: #fab153;
      }
      .group4{
        color: #4a8bdb;
      }
      .group5{
        color: #b377d9;
      }
      .group6{
        color: #c2d468;
      }
    }

    .ingredientTabs{
      position: absolute;
      display: flex;
      flex-direction: row;
      top: -30px;

      .ingredientsLegend {
        position: relative;
        border-radius: 5px 5px 0 0;

        .ingredientLegendIcon {
          color: whitesmoke;
          background: #191919;
          padding: 3px;
          margin-right: 3px;
          border-radius: 5px 5px 0 0;
          border-top: 1px solid #2d2d2d;
          border-left: 1px solid #2d2d2d;
          border-right: 1px solid #2d2d2d;
          &:hover{
            cursor: pointer;
            color: #009EE0;
          }
        }

        &.disable {
          .ingredientLegendIcon {
            color: #424242;
            &:hover {
              cursor: default;
              color: #424242;
            }
          }
        }


        .legend{
          position: absolute;
          display: none;
          padding: 10px;
          background: #f5f5f5;
          width: 180px;
          box-shadow: 8px 8px 4px #0c0c0c;
          border-radius: 0 5px 5px 5px;
          box-shadow: 8px 8px 4px #0c0c0c;
          margin-top: -1px;
          margin-left: 1px;

          .legendItem {
            color: #191919;
            padding-bottom: 5px;
            font-weight: bold;
            font-family: Indie Flower,cursive;
    
            .item0,.item1,.item2,.item3,.item4,.item5,.item6{
              font-size: 13px;
              padding-right: 6px;
            }
            .item0{
              color: #ed5564;
            }
            .item1{
              color: #47cec0;
            }
            .item2{
              color: #d870ad;
            }
            .item3{
              color: #fab153;
            }
            .item4{
              color: #4a8bdb;
            }
            .item5{
              color: #b377d9;
            }
            .item6{
              color: #c2d468;
            }
          }
        }

        &.open{
          .ingredientLegendIcon{
            background: #f5f5f5;
            color: #1e7aca;
          }

          .legend{
            display: block;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) {
  .ingredients {
    margin-left: 15px;
    .ingredientList {
      width: 350px;
      ul {
        padding: 15px;
        li{
          white-space: normal;
          width: 335px;
          padding-right: 0;
        }
      }
    }
    &.edition{
      .ingredientList {
        width: 420px;
      }
    }
  }
}

.ingredientAdd {
  background: #eaeaea;
  height: 24px;
  line-height: 24px;
  border-radius: 4px;
  color: #303030;
  font-size: 12px;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  padding: 1px 10px;
  display: none;
  cursor: default;
  font-weight: bold;
  transition: width 1s ease-in-out;
  overflow: hidden;
  input, .inputs{
    display: none;
  }
  &.edition{
    display: flex;
    width: 20px;
    justify-content: center;
    border: 8px solid #191919;
    border-radius: 0 0 5px 5px;
    margin-top: -11px;

    &:hover{
      color: #FFFFFF;
      cursor: pointer;
      background: #009EE0;
    }
    &.show{
      width: 655px;
      .inputs{
        display: flex;
        flex: 1;
        input{
          display: block;
          background: rgba(255, 255, 255, 0.4);
          border: 1px solid rgba(0,0,0,0.3);
          border-radius: 5px;
          padding: 0 5px;
          color: #202020;
          font-style: italic;
          margin: 0 5px;
          &.ingredientInput{
            flex: 1;
          }
          &.quantityInput{
            width: 50px;
          }
          &.unitInput{
            width: 166px;
          }
        }
      }
    }
  }
}

@media print {
  .ingredients {
    .ingredientsTitle, .ingredientList li {
      color: #191919;;
    }
  }
}

.ghost {
  background-color : #009EE0;
  color : #191919;
  width : 200px;
  height : 30px;
  opacity : 0.8;
  border-radius : 5px;
  display : flex;
  flex-direction : row;
  align-items : center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: -1000px;

  i {
    padding-right: 10px;
  }
}
