.headerRecipe {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;

  .meatAndSpice{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    flex: 1;
  }
}
