.content {
  min-width: calc(100% - 320px);
  display: flex;
  flex-direction: column;
}

.recipesZone {
  background: #202020;
  flex: 1;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.recipe {
  background: #202020;
  flex: 1;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;

  .ingredientsAndSteps {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (min-width: 1300px) {
  .recipe .ingredientsAndSteps {
    flex-direction: row;
  }
}
