.content {
  min-width: calc(100% - 320px);
  display: flex;
  flex-direction: column;
}

.cartZone {
  background: #202020;
  flex: 1;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.recipesZone {
  background: #202020;
  flex: 1;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.recipe {
  background: #202020;
  flex: 1;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;

  .ingredientsAndSteps {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    // Checkbox
    .container {
      display: block;
      position: relative;
      padding-left: 70px;
      margin-bottom: 12px;
      cursor: pointer;
      font-family: Indie Flower;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
      user-select: none;

      input { // Hide the browser default checkbox
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked ~ .checkmark {
          background-color: #009EE0;
          &:after { // Show the checkmark when checked
            display: block;
          }
        }
      }

      .checkmark { // custom checkbox
        position: absolute;
        top: 0;
        left: 36px;
        height: 20px;
        width: 20px;
        background-color: #CCCCCC;
        border-radius: 5px;
        border: 2px solid #696868;

        &:after { // Create the checkmark/indicator (hidden when not checked)
          content: "";
          position: absolute;
          display: none;
          left: 7px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }
      }

      &:hover input ~ .checkmark {
        background-color: #ccc;
      }
    }
  }
}


@media screen and (min-width: 1300px) {
  .recipe .ingredientsAndSteps {
    flex-direction: row;
  }
}
