.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  .commentsTitle {
    font-weight: bolder;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    font-family: 'Amatic SC';
    &:before, &:after {
      content: " - ";
      width: 100px;
      height: 10px;
    }
  }
  .commentList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .commentForm{
    padding: 0px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    textarea {
      width: 600px;
      border: none;
      padding: 10px 20px;
      font: 15px Arial;
      margin-bottom: 10px;
      border-radius: 5px 0 0 5px;
      resize: none;
      height: 51px;
    }
    button {
      float: right;
      color: #303030;
      border: none;
      cursor: pointer;
      background: #eaeaea;
      padding: 5px 5px 2px;
      border-radius: 0 5px 5px 0;
      height: 71px;
      i{
        font-size: 30px;
      }

      &:hover{
        background: #009ee0;
        color: #FFF;
      }
    }
  }
}
