.filters {
  position: absolute;
  width: 45px;
  margin-top: 10px;
  margin-right: -14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  top: 0;
  right: 0;
  background: #202020;
  border-radius: 8px;
  transition: all 0.3s ease;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &.disable {
    display: none;
  }
  .validate, .new, .dislike, .hot, .starFilter {
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 2px;
    color: grey;
  }
  .validate.green, .new.green, .dislike.green, .starFilter.green, .hot.green {
    color: #bee000;
  }
  .validate:hover, .new:hover, .dislike:hover, .validator:hover, .cart:hover, .hot:hover, .starFilter:hover {
    cursor: pointer;
    color: #009EE0;
  }
  .validate.disable, .new.disable, .dislike.disable, .starFilter.disable, .hot.disable {
    opacity: 0.3;
  }
  .validate.disable:hover, .new.disable:hover, .dislike.disable:hover, .starFilter.disable:hover, .hot.disable:hover {
    color: grey;
    cursor: default;
  }
  .validate > i, .new > i, .dislike > i, .starFilter > i, .hot > i {
    font-size: 31px;
    padding: 2px;
  }
  .new, .dislike, .starFilter, .hot {
    margin-top: -3px;
  }
  .print, .validator, .cart {
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 2px;
    color: grey;
  }
  .print:hover, .validator:hover, .cart:hover {
    cursor: pointer;
    color: #009EE0;
  }
  .print.disabled, .validator.disabled, .cart.disabled {
    opacity: 0.3;
  }
  .print.disabled:hover, .validator.disabled:hover, .cart.disabled:hover {
    cursor: default;
    color: grey;
  }
  .print > i, .validator > i, .cart > i {
    font-size: 31px;
    padding: 2px;
  }
  .validator, .cart {
    margin-top: 0px;
  }
}

@media print {
  .filters{
    display: none;
  }
}
