.filters {
  position: absolute;
  width: 45px;
  margin-top: 10px;
  margin-right: -14px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  top: 0;
  right: 0;
  background: #202020;
  border-radius: 8px;
  transition: all 0.3s ease;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  &.disable {
    display: none;
  }
  .validate, .new, .dislike, .hot, .starFilter {
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 2px;
    color: grey;
    position: relative;
    .overPart{
      display: none;
      position: absolute;
      background: whitesmoke;
      width: 112px;
      height: 85px;
      left: 40px;
      top: -30px;
      border-radius: 5px;
      box-shadow: 7px 8px 7px #1a1a1aa6;
      border: 1px solid gray;
      border-left: none;
      padding: 5px;
    }
  }
  .validate.green, .new.green, .dislike.green, .starFilter.green, .hot.green {
    color: #bee000;
  }
  .validate:hover, .new:hover, .dislike:hover, .validator:hover, .cart:hover {
    cursor: pointer;
    color: #009EE0;
  }
  .overable.validate:hover, .overable.new:hover, .overable.dislike:hover, .overable.validator:hover, .overable.cart:hover, .overable.hot:hover, .overable.starFilter:hover {
    cursor: pointer;
    background: whitesmoke;
    color: #383838;
    border-radius: 5px 0 0 5px;

    i {
      color: #009EE0;
    }

    .overPart{
      display: flex;
      flex-direction: column;
      .line {
        padding: 3px;
        padding-left: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        span:first-child{
          font-family: lobster;
        }
        input[type="number"] {
          border-radius: 3px;
          border: 2px solid #838480;
          padding: 2px;
        }
      }
      button {
        height: 25px;
        width: 80px;
        background: #bee000;
        border: 1px solid #88a003;
        border-radius: 5px;
        margin-top: 3px;
        color: #2b2b2b;
        font-family: lobster;
        font-weight: bold;
        font-size: 17px;
        align-self: center;

        &:hover{
          cursor: pointer;
          color: #FFF;
          background: #7aad00;
        }
      }
    }
  }
  .validate.disable, .new.disable, .dislike.disable, .starFilter.disable, .hot.disable {
    opacity: 0.3;
  }
  .validate.disable:hover, .new.disable:hover, .dislike.disable:hover, .starFilter.disable:hover, .hot.disable:hover {
    color: grey;
    cursor: default;
  }
  .validate > i, .new > i, .dislike > i, .starFilter > i, .hot > i {
    font-size: 31px;
    padding: 2px;
    width: 40px;
    overflow: hidden;
    &:hover{
      cursor: pointer;
    }
  }
  .new, .dislike, .starFilter, .hot {
    margin-top: -3px;
  }
  .print, .validator, .cart {
    height: 40px;
    width: 40px;
    margin-top: 3px;
    margin-left: 2px;
    color: grey;
  }
  .print:hover, .validator:hover, .cart:hover {
    cursor: pointer;
    color: #009EE0;
  }
  .print.disabled, .validator.disabled, .cart.disabled {
    opacity: 0.3;
  }
  .print.disabled:hover, .validator.disabled:hover, .cart.disabled:hover {
    cursor: default;
    color: grey;
  }
  .print > i, .validator > i, .cart > i {
    font-size: 31px;
    padding: 2px;
  }
  .validator, .cart {
    margin-top: 0px;
  }
}

@media print {
  .filters{
    display: none;
  }
}
