html {
  height: 100%;
  display: flex;
}

body {
  background: #303030 url(./assets/img/background.png) repeat;
  height: calc(100% - 16px);
  display: flex;
  flex: 1;
  padding: 8px;
  margin: 0;
}

#root{
  display: flex;
  flex: 1;
}

.cookingBook {
  display: flex;
  flex-direction: row;
  flex: 1;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #808080;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009EE0;
}

.cookingBook .notif {
  position: absolute;
  height: 0px;
  overflow: hidden;
  width: calc(100% - 15px);
  background: transparent;
  bottom: 0;
  z-index: 1;
  color: #FFFFFF;
  transition:all 1s ease;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-family: Indie Flower,cursive;
}

.cookingBook .notif.showNotif{
  height: 35px;
}

.cookingBook .notif.info{
  background: #47a8f5;
}

.cookingBook .notif.success{
  background: #6bbd6e;
}

.cookingBook .notif.warning{
  background: #ffaa2c;
}

.cookingBook .notif.error{
  background: #f66359;
}