.topBar{
  color: whitesmoke;
  background: #202020;
  height: 34px;
  line-height: 34px;
  border-radius: 4px;
  padding: 0 15px;
  font-family: 'Lobster',cursive;
  margin-left: 8px;
  display: flex;
  justify-content: space-between;
}